<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>addr</display-name>
  <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.addr</param-value>
  </context-param>
  <context-param>
		<param-name>contextConfigLocation</param-name>
		
		<param-value>classpath:spring/ApplicationContext.xml</param-value>
  </context-param>
  <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--跨域处理过滤/模拟登录 s(测试及正式环境删掉)-->
  <filter>
		<filter-name>domainFilter</filter-name>
		<filter-class>com.golden.port.framework.filter.DomainFilter</filter-class>
		<!-- 登录名 -->
		<init-param>
			<param-name>userName</param-name>
			<param-value>test1</param-value>
		</init-param>
		<!-- 组织结构代码 0003fe98-80cd-40a1-a4e4-59c195d9e087-->
		<init-param>
			<param-name>userId</param-name>
			<param-value>0003fe98-80cd-40a1-a4e4-59c195d9e087</param-value>
		</init-param>
		<init-param>
			<param-name>orgCode</param-name>
			<param-value>02.01.01.01.01.</param-value>
		</init-param>
		<init-param>
			<param-name>daQu</param-name>
			<param-value>西大区</param-value>
		</init-param>
		<init-param>
			<param-name>qu</param-name>
			<param-value>西一区</param-value>
		</init-param>
		<init-param>
			<param-name>zu</param-name>
			<param-value>西一区1组</param-value>
		</init-param>
		<init-param>
			<param-name>store</param-name>
			<param-value>西一区实体店01</param-value>
		</init-param>
		<init-param>
			<param-name>storeId</param-name>
			<param-value>ad62411c-e460-4a74-8e59-5f3de27befa5</param-value>
		</init-param>
		<init-param>
			<param-name>storeTell</param-name>
			<param-value>13888886666</param-value>
		</init-param>
		<!-- 职位：经纪人1，组长2，区经理3，大区经理4 -->
		<init-param>
			<param-name>userPosi</param-name>
			<param-value>1</param-value>
		</init-param>
		<!-- 数据权限 -->
		<init-param>
			<param-name>dataPowers</param-name>
			<param-value>02.01.01.01.,02.01.01.02.,02.01.02.</param-value>
		</init-param>
		<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
		<filter-name>domainFilter</filter-name>
		<url-pattern>*.do</url-pattern>
  </filter-mapping>
   <!--跨域处理过滤 e (测试环境正式环境加上)-->
   <!-- spring安全 s -->
   <!-- <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener> -->
  <!-- spring安全 e -->
  <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    	<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <servlet>
		<servlet-name>addr</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		  <param-name>contextConfigLocation</param-name>
		  <param-value>classpath:spring/ApplicationContext-mvc.xml</param-value>
		</init-param>
    	<load-on-startup>1</load-on-startup>
    	<async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
	    <servlet-name>addr</servlet-name>
	    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/view/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/view/error/500.html</location>
  </error-page>
</web-app>