<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd" >						
	<!-- 权限标签 -->
	<bean id="perviewTag" class="com.golden.port.framework.tags.PerviewDirective">
		<!-- 是否开启Html可视控制 -->
		<property name="isOpen" value="${perviewShow}"/>
		<!-- 用户权限列表在session中的key 开发时加上。-->
		<property name="sessionKey" value="userPowers"/>
	</bean>
	
	<!-- OA接口封装 -->
	<bean id="oaService" class="com.golden.port.framework.aihome.OAService"></bean>
</beans>